@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h1 {
  color: $grayish-blue;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.toggle-section {
  /*  https://codepen.io/clairecodes/pen/POjKXY */
  /* inline-flex ?! */
  display: inline-flex;
  // display: inline-flex;
  // justify-content: center;
  flex-direction: row;
  gap: 1.9rem;
  margin: 0 auto;
  margin-top: 2.6rem;
  align-items: center;
}

.toggle-area {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 3.8rem;
  height: 2.3rem;
  border-radius: 25px;
  background: $gradient;
}
/* Toogle Button Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
//  slIDER
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
  background: linear-gradient($gradient);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// End + SlIDER
/*End Toogle Button Slider */

.toggle-section p {
  color: $light-grayish-blue;
}

/*Princing Containers  */
.pricing-container {
  /* V1 */
  display: grid;
  width: 72%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 5.8rem;

  /* V2 */
  /* width: 72%;
  margin: 0 auto;
  margin-top: 5.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2.5rem; */

  /* V3 */
  /* display: flex;
  width: 72%;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-around;
  border-radius: 2.5rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 20px 30px rgb(0 0 0 / 5%);
  flex-direction: row;
  gap: 1.5rem;
  padding: 3.4rem; */
}
/* PRICING CONTAINERS */
.pricing {
  /* V1 */
  /* display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 10px;
  padding: 2.1rem 0.8rem;
  border: 1px solid purple; */

  /* V2 */
  padding: 2.1rem 0.8rem;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/*END PRICING CONTAINERS */

.professional-container {
  background: linear-gradient($gradient);
  gap: 1.3rem;
}
.professional-container > h1 {
  color: #fff;
}
.basic-container,
.master-container {
  background-color: $white;
  gap: 1.3rem;
}

.pricing h2 {
  font-size: 1.23rem;
  font-weight: 700;
}
.container-2 h2 {
  padding-top: 12px;
}

.basic-container h2,
li,
.master-container h2,
li {
  color: $light-grayish-blue;
}
.pricing p {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0 auto;
  font-size: 4.6rem;
  color: #fff;
}
.dollar-sign {
  font-size: 2.6rem;
}
.basic-container p,
.master-container p {
  color: $dark-grayish-blue;
}

hr {
  width: 80%;
  border-width: 0.5px;
  margin: 0 auto;
  border-color: transparent;
  border-color: $light-grayish-blue;
  border-style: solid;
  opacity: 0.5;
}
.pricing ul {
  list-style: none;
  margin-top: 10px;
}
.pricing ul li {
  padding: 1.06rem;
}
.professional-container ul li {
  padding: 1.1rem;
  color: #fff;
}
.pricing button {
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 10px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  font-weight: 700;
  text-align: center;
}
.professional-container button {
  color: $purple;
  background-color: $white;
}
.basic-container button,
.master-container button {
  color: $white;
  background: linear-gradient($gradient);
  background-repeat: no-repeat;
}

@media (hover: hover) {
  /* // hover: hover is not supported in IE 11 and below */
  .basic-container button:hover,
  .master-container button:hover {
    background: transparent;
    border-color: $light-grayish-blue;
    color: var(--purple);
    border-width: 1px;
  }
  .professional-container button:hover {
    background-color: transparent;
    border-color: $white;
    color: $white;
    border-width: 1px;
  }
}
/* $breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px; */
/* Media Query */
@media screen and (max-width: $breakpoint-tablet) {
  .pricing-container {
    //v1
    width: 50%;
    grid-template-columns: 1fr;
    margin-top: 5.8rem;
    gap: 5rem;

    // V2
    // width: 50%;
    // margin-top: 5.8rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 1.5rem;

    // max-width: 500px;
  }

  .professional-container ul li {
    padding: 1.06rem;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .pricing-container {
    width: 60%;
    //    max-width: 500px;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .pricing-container {
    width: 90%;
  }
}
